# Project data
# anything ending with .emb

*.emb

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version



# Environments
.env
.venv
env/
rl_venv/
ENV/
env.bak/
venv.bak/

